{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block h1 %}Home{% endblock %}

{% block body %}
    <div>
        This friendly message is coming from:
    </div>
{% endblock %}
