<a class="nav-item auth-item {{ selected ? 'bg-blue text-black' : 'bg-light-blue text-white' }} hover:bg-blue hover:text-black"
   href="{{ url }}">
    <i class="{{ icon }} fa-fw"></i>
    <div>{{ text }}</div>
</a>