<a class="nav-item {{ selected ? 'bg-light-cream text-black' : 'text-white' }} hover:bg-light-cream hover:text-black"
   href="{{ url }}">
    <i class="{{ icon }} fa-fw"></i>
    <div>{{ text }}</div>
</a>